[submodule "spline-gym/external/raylib"]
	path = spline-gym/external/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "libs/kissfft"]
	path = libs/kissfft
	url = git@github.com:mborgerding/kissfft.git
[submodule "libs/wrapped_libsamplerate/libsamplerate"]
	path = libs/wrapped_libsamplerate/libsamplerate
	url = git@github.com:libsndfile/libsamplerate.git
