[submodule "libs/zgpu/libs/dawn"]
	path = libs/zgpu/libs/dawn
	url = https://github.com/michal-z/dawn-bin
	branch = main
[submodule "spline-gym/external/raylib"]
	path = spline-gym/external/raylib
	url = git@github.com:raysan5/raylib.git
