name: Run unit zig build check/test
on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest]
        # os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@main
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - name: prepare-linux
        if: runner.os == 'Linux'
        run: |
            sudo apt-get update
            sudo apt-get install libglu1-mesa-dev mesa-common-dev xorg-dev libasound-dev
      - name: build Native
        run: zig build check test docs install --summary all
      # - name: build Wasm
      #   run: zig build check test docs install --summary all -Dtarget=wasm32-emscripten
